@import "../../../styles/sass/variables";

.card_container {
  height: 150px;
  width: 800px;
  background-color: $tertiary-color;
  border-radius: 8px;
  h2 {
    margin: 18px 0 0 40px;
    padding-top: 10px;
  }
  ul {
    width: 85%;
    display: grid;
    margin-top: 8px;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    justify-content: left;
    align-items: center;
    li {
      font-size: 12px;
      text-align: center;
      list-style-type: none;
    }
  }
}

ul li:nth-child(3) {
  justify-self: end;
}

h5 {
  margin-left: 40px;
}
